@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Oswald:wght@200;300;400;500;600;700;900&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
/* =====================banner======================= */
.banner {
  width: 100%;
  min-height: 550px;
  background: #fae6ea;
  padding: 0 10%;
  position: relative;
}

.banner__details {
  height: 550px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.banner__btn {
  align-self: flex-start;
}
.btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #db3859;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.banner__image {
  width: 32%;
  height: 460px;
  position: absolute;
  bottom: 0;
  right: 10%;
}
.banner__image img {
  width: 100%;
  height: 460px;
}

.banner__title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 4rem;
  padding-left: 0;
}
.description {
  font-weight: 300;
  font-size: x-small;
  /* text-align: center; */
  width: 400px;
}

/* =====================featured======================= */

.featured__flowers {
  margin: 5% 10%;
  height: 550px;
  /* padding: 0 10%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.featured__details {
  text-align: center;
}
.featured-desc {
  margin: 0 auto;
}

.featured__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured__item__name {
  width: 32%;
}
.featured__name {
  text-align: center;
  padding: 10px;
}
.featured__name a {
  color: black;
}

.featured__item {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
}
.featured__image {
  width: 70%;
  height: 290px;
}
.featured__image img {
  width: 100%;
  height: 290px;
}

.item1 {
  background-color: #fae6ea;
}
.item2 {
  background-color: #bfeff1;
  align-items: center;
}
.item3 {
  background-color: #cff0af;
}

/* =====================delivery======================= */
.delivery-container {
  margin: 1% 10%;
  background-color: #e9e0e0;
  padding: 50px 50px;
  border-radius: 5px;
}
.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.diff-delivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 50px;
}
.icon img {
  width: 100%;
}

/* =====================delivery======================= */
.hot-deal {
  margin: 6% 0;
  background-color: #fae6ea;
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hot-deal-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.hot-deal-img{
  width: 20%;
}
.hot-deal-img img {
  width: 100%;
}
.text{
  text-align: center;
}

/* =====================instagram======================= */
.instagram{
  width: 80%;
  margin: 0 auto 5%;
  /* padding: 0 10%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.instagram-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.instagram-images{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.images img{
  width: 100%;
}
.insta-desc{
  text-align: center;
}

/* =====================subscribe======================= */
